<!DOCTYPE html>
<html lang="en-US">
<%- include("head") %>
<body>
  <%- include("navbar", { links: links }) %>
  <ul class="messageList">
    <h1>Current messages:</h1>
    <% messages.map((message) => { %>
      <div class="message">
        <div>"<%= message.text %>"</div>
        <div><%= message.user %></div>
        <div><%= message.added %></div>
      </div>
    <% }) %>
  </ul>
</body>
</html>
