<!DOCTYPE html>
<html lang="en-US">
<%- include("head") %>
<body>
  <%- include("navbar", { links: links }) %>
  <ul class="messageList">
    <h1>Current messages:</h1>
    <% messages.map((message) => { %>
      <button class="message" type="button">
        <div>"<%= message.text %>"</div>
        <div><%= message.user %></div>
        <div><%= message.added %></div>
      </button>
    <% }) %>
  </ul>
</body>
</html>
